section{
    padding-block: 32px;
}

section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--text-md);

}

.profile{
    display: flex;
    gap: 32px;

}

.profile img{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
}

.profile > div{
    max-width: 384px;
}

.profile h1{
    color: var(--text-color-primary);
    font: var(--text-lg);
    margin-bottom: 8px;
}

.info{
    width: 280px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info li{
    display: flex;
    align-items: center;
    gap: 8px;
}